body {
    font-family: 'Fugaz One', cursive;
    margin: 0;
    color: white;
    margin-left: 40px;
    margin-top: 70px;
    margin-right: 40px;
    margin-bottom: 70px;
    text-shadow: 0 0 2px black;
    background-image: url("https://media.wired.com/photos/5926e34f8d4ebc5ab806bd1c/master/pass/GettyImages-528338761.jpg");
    background-size: 10%;
    text-align: center;
    font-size: larger;
    display: flex;
}

.principal {
    background: #1F2937;
    padding: 60px;
    border-radius: 4px;
    border: 2px solid #ffe066;
    margin-left: auto;
    margin-right: auto;

}

h3 {
    color: gray;
    text-shadow: 0 0 5px black;
}

#random {
    color: #ffe066;
}



button {
    background: #ffe066;
    color: white;
    
    
    border-radius: 6px;
    box-shadow: 0px 0px 2px black;
    padding: 9px 17px 9px 15px;
    border: none;
    margin-top: 51px;
    text-shadow: 0 0 2px black;
    font-weight: bold;
}
button:hover {
    border: 2px solid white;
}

.passwords {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    border-top: 2px solid #273549;
    text-align: center;
    
}


p {
    padding: 7px 40px;
    background: #273549;
    border-radius: 6px;
    color: #ffe066;
    margin-top: 30px;
    font-size: 18px;
    text-shadow: 1px 1px 4px black;
    
}

#password1-el {
    margin-right: 20px;
}
